*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #6cc551;
    --color-secondary: #f63264;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-font: #808080;
}

body, input, button{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}