*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #6cc551;
    --color-secondary: #f63264;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-font: #808080;
}

body, input, button{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

form{
    width: 45%;
    margin: 0 auto;

    font-size: 0.9rem;

    div{
        display: flex;
        flex-direction: column;

        margin-bottom: 1.5rem;
    
        label{
            font-size: 0.8rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        input{
            border-radius: 0.2rem;
            border: 1px solid #d3d3d3;
            
            padding: 0.9rem 1rem;
        }
    }
    
    button{
        width: 100%;
        height: 2.5rem;
    
        font-weight: 600;
        letter-spacing: 1px;
    
        border: 0;
        border-radius: 0.3rem;
    
        color: var(--color-white);
        background-color: var(--color-primary);
    }
}
