.title-container{
    width: 15%;
    white-space: nowrap;

    margin: 3rem auto 2.5rem !important;

    span, h1{
        margin: 0 auto
    }

    span{
        margin-right: 0.5rem;
        
        color: var(--color-primary);
    }

    h1{
        font-size: 1.2rem;
    }
}

.stepper-wrapper {
    width: 85%;

    display: flex;
    justify-content: space-between;
    
    margin: 0 auto 2rem !important;
  }
  .stepper-item {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  
  .stepper-item::before {
    content: "";
    position: absolute;

    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
    
    border-bottom: 2px solid #f1f1f1;
  }
  
  .stepper-item::after {
    content: "";
    position: absolute;
    
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;

    border-bottom: 2px solid #f1f1f1;
  }
  
  .stepper-item .step-counter {
    z-index: 5;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    margin-bottom: 6px;

    background: #f1f1f1;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
  
  .stepper-item.completed::after {
    content: "";
    position: absolute;
    
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;

    border-bottom: 2px solid var(--color-primary);
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  